
.keyboard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .keyboard__row {
    display: grid;
    gap: 8px;
    height: 40px;
  }
  .keyboard__row_0 {
    grid-template-columns: calc($key-default-widht * .8) repeat(12, $test) 1fr;
  }
  .keyboard__row_1 {
    grid-template-columns: calc($key-default-widht * 1.2) repeat(13, $test);
  }
  .keyboard__row_2 {
    grid-template-columns: minmax(calc($key-default-widht * 1.3), 1fr) repeat(11, $test) calc($key-default-widht * 1.4);
  }
  .keyboard__row_3 {
    grid-template-columns: minmax(calc($key-default-widht * 1.4), 1fr) repeat(12, $test);
  }
  .keyboard__row_4 {
    grid-template-columns: repeat(3, $test) 1fr $test calc($key-default-widht * 1.1) repeat(3, $test);
  } 
}